<head>

</head>
<body>
<h1>Activation</h1>
<br>
<b>Dear <%- email %></b>
<p>Please visit this link to activate your account.</p>
<a href='<%- url %>' class="btn btn-lg btn-primary">Activate</a>
<p style = "font-size:small">&#169; Tweb2 2013 <br>If you didn't sign up for this website please disregard this message. The account will be deleted within 24 hours.</p>
</body>
