
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.png">

    <title><%= title %></title>
    
    <!-- Bootstrap core CSS -->
    <link href="<%- locals.cdn %>default/css/bootstrap.css" rel="stylesheet">
	<link href="<%- locals.cdn %>default/css/style.css" rel="stylesheet">
    <!-- Custom styles for this template -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome-ie7.min.css" rel="stylesheet">
<script type="text/javascript">
$(document).bind("contextmenu",function(e){
	var x = e.pageX;
  	var y = e.pageY;
	return false;
}); 
</script>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="zigzag">

    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/administration"><%= brand %> - Admin Console</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/administration">Overview</a></li>
            <li><a href="/administration/users">Users</a></li>
          </ul>
	
	  <ul class="nav navbar-nav navbar-right">
	<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Signed In as <%= loggedIn.user %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/account">Manage Account</a></li>
		<li><a href="/logout">Logout</a></li>
              </ul>
            </li>
		</ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container" id="main">





