<%- include layout_head.ejs %>
<div class="jumbotron">
There's nothing here except for THIS !!.
<pre><code>
exports.get = function(req, res){
  functions.sessions.validate(database.collection('users'),req.cookies.sessionId,function(ans){
		res.render(config.site.template+'/index', { title: 'Hello',brand:config.site.brand,loggedIn:ans,unAuthorised:0});
  });
  
};
</code></pre>
</div>
<%- include layout_end.ejs %>
