<% if (typeof ajax == 'undefined') { %>
	<%- include layout_head.ejs %>
<% } %>
<h1>Users</h1>
<% if (typeof userId == 'undefined') { %>
<table class="table table-condensed" style="background:#eee">
        <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>User Type</th>
            <th>Date Created</th>
	    <th>Activated</th>
	    <th>Options</th>
          </tr>
        </thead>
        <tbody>
	<% for(var i=0;i<allUsers.length;i++){ %>
          <tr>
            <td><%= allUsers[i].user %></td>
            <td><%= allUsers[i].email %></td>
            <td><%= allUsers[i].usertype %></td>
            <td><%= new Date(allUsers[i].creationtime) %></td>
	    <td><% if(allUsers[i].activate==false){ %>Yes<%}else{%><strong>No </strong><button class="btn btn-primary icon-user"> Activate</button><%}%></td>
            <td><a href="./users/edit?uid=<%- allUsers[i].uid %>"><button class="btn btn-success icon-edit-sign"> Edit</button></a><button class="btn btn-danger icon-remove-sign"> Remove</button></td>
          </tr>
	<% } %>
        </tbody>
      </table>
<%} else if(userId==false) {%>
<h1>Gay</h1>
<% } else { %>
<form role="form" method="post" action=".">
<input type="hidden" name="uid" value="<%= userId.uid %>">
<div class="form-group"><h2>Lets change some information</h2></div>
<% if(messages=='pass'){ %>
	
<% } else if(messages===false) {%>
<% } else { %>
	<div class="alert alert-danger"><strong>OH SNAPP!</strong>
		<%for(var i=0;i<messages.length;i++){%>
			<br><%messages[i]%>
		<%}%>
	</div>
<% } %>
  <div class="form-group">
    <h3>Personal</h3>
    <label for="email">Email address</label>
    <input type="email" class="form-control" name="email" placeholder="Enter new email" value="<%= userId.email %>">
    <label for="user">Username</label>
    <input type="text" class="form-control" name="user" placeholder="Enter new username" value="<%= userId.user %>">
    <label for="usertype">User Type</label>
	<br>
<div class="btn-group" data-toggle="buttons">
<% if(userId.usertype=='admin'){ %>
  <label class="btn btn-warning active">
    <input type="radio" name="usertype" value="admin" checked> Administrator
<%} else {%>
	 <label class="btn btn-warning">
    <input type="radio" name="usertype" value="admin"> Administrator
<% } %>
  </label>
<% if(userId.usertype=='user'){ %>
  <label class="btn btn-primary active">
    <input type="radio" name="usertype" value="user" checked> Regular User
<%} else {%>
	 <label class="btn btn-primary">
    <input type="radio" name="usertype" value="user"> Regular User
<% } %>
</label>
<% if(userId.usertype=='selfdestruct'){ %>
  <label class="btn btn-danger active">
    <input type="radio" name="usertype" value="selfdestruct" checked> Self Destruct
<%} else {%>
	 <label class="btn btn-danger">
    <input type="radio" name="usertype" value="selfdestruct"> Self Destruct
<% } %>
</label>
</div>
  </div>
  <div class="form-group">
    <h3>Security</h3>
    <label for="pass">Password</label>
    <input type="pass" class="form-control" name="pass" placeholder="Enter new password">
    <label for="cofirm">Confirm New Password</label>
    <input type="pass" class="form-control" name="confirm" placeholder="Confirm new password">
  </div>
  <button type="submit" class="btn btn-info">Submit</button>
</form>
<% } %>
<% if (typeof ajax == 'undefined') { %>
	<%- include layout_end.ejs %>
<% } %>
