<% if (typeof ajax == 'undefined') { %>
	<%- include ../layout_head.ejs %>
<% } %>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.0.1/ckeditor.js"></script>
<script type="text/javascript">CKEDITOR.on('loaded', function(){ CKEditor_loaded = true; });</script>
<h1><%= title %></h1>
<%- warnings %>
<form method="post" action="/helpline">
<span><b>Email</b></span>
<input type="text" id="email" name="email" class="form-control col-md-4	" placeholder="example@example.com">
<br><br><br>
<div>
<span><b>Message</b></span>
<textarea id="message" class="ckeditor" name="message"><%- inputm %></textarea>
</div>
<br>
<input type="submit" class="btn btn-primary btn-lg">
</form>
<% if (typeof ajax == 'undefined') { %>
	<%- include ../layout_end.ejs %>
<% } %>

