<% if (typeof ajax == 'undefined') { %>
	<%- include ../layout_head.ejs %>
<% } %>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.0.1/ckeditor.js"></script>
<script type="text/javascript">CKEDITOR.on('loaded', function(){ CKEditor_loaded = true; });</script>
<h1><%= title %></h1>
<br>
<div class="alert alert-info">This is message <%= token %></div>
<% for(var i=0; i<message.length; i++) {%>
   <% if(message[i].user=="sysadmin") {%>
<div class="panel panel-success">  <div class="panel-heading"><h3 class="panel-title"><%- message[i].user %></h3></div><div class="panel-body"><%- message[i].message %></div></div>
   <% } else { %>
<div class="panel panel-warning">  <div class="panel-heading"><h3 class="panel-title"><%- message[i].user %></h3></div><div class="panel-body"><%- message[i].message %></div></div>
   <% } %>
<% } %>
<% if (typeof ajax == 'undefined') { %>
	<%- include ../layout_end.ejs %>
<% } %>
