<% if (typeof ajax == 'undefined') { %>
	<%- include layout_head.ejs %>
<% } %>
<style>
.hidden{
	visibility:hidden;
}
.center {
    text-align:center;
}

.center form {
    display:inline-block;
}
</style>
<div id="chat">
<div id="chat-details" class="center">
<h1>Welcome to Chat</h1>
<form method="post" action="/chat/post" id="chat-form-details">
<input type="text" id="chat-user" name="user" class="form-control" placeholder="Username"><br>
<input type="text" id="chat-room" name="room" class="form-control" placeholder="Chat Room"><br>
<input type="submit" class="btn btn-success btn-lg btn-block" value="Start Chatting">
</div>
<div id="chat-messages"></div>
</div>
<script type="text/javascript">
if( typeof(WebSocket) != "function" ) {
	$('#container').html("<h1>Error</h1><p>Your browser does not support HTML5 Web Sockets. Try a modern browser like chrome.</p>");
	console.log("No websockets in this browser.");
}
else{
	socket = new WebSocket("ws://"+window.location.host+"/websockets/chat");
	socket.onopen = function(){
		socket.send(JSON.stringify({type:'helo'}))
	}
	socket.onmessage = function(e){
		msg = JSON.parse(e.data);
		console.log("Server: "+e.data);
		if(msg.type == 'ping'){
			socket.send(JSON.stringify({type:'pong'}))
			console.log('Sent PONG message')
		}
	}
	$('#chat-form-details').submit(function() {
	  username=$("#chat-user").val();
	  room=$("#chat-room").val();
	  socket.send(JSON.stringify({type:'details',user:username,room:room}))
	  return false;
	});
}
</script>
<% if (typeof ajax == 'undefined') { %>
	<%- include layout_end.ejs %>
<% } %>
