<% if (typeof ajax == 'undefined') { %>
	<%- include layout_head.ejs %>
<% } %>

<% if(unAuthorised==1){ %>

<div class="alert alert-danger" id='hacker'><strong>OI!!</strong> Just What Do you think you are doing. <br> </div>
<script>
setTimeout(function() {window.location.replace("/");} , 1500);
</script>
<div class="jumbotron hidden" id="hello">
<h1>Hello</h1>
<p>This is a test of my site.</p>
</div>
<% } else { %>

<div class="jumbotron" id="hello">
<h1>Hello</h1>
<p>This is a test of my site.</p>
</div>
<% } %>
    <div class="container hidden" id='login'>

      <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading">Please sign in</h2>

        <input type="email" id='email' name='email' class="form-control" placeholder="Email Address" autofocus>
        <input type="password" id='pass' name='pass' class="form-control" placeholder="Password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

<% if (typeof ajax == 'undefined') { %>
	<%- include layout_end.ejs %>
<% } %>
