<% if (typeof ajax == 'undefined') { %>
	<%- include layout_head.ejs %>
<% } %>
    <div class="container">

      <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading">Please sign in</h2>

	<% if (messages==false) { %>
	<div class="alert alert-danger">
		The username or password you entered was incorrect.
	</div>
	<% } %>
        <input type="email" id='email' name='email' class="form-control" placeholder="Email Address" autofocus>
        <input type="password" id='pass' name='pass' class="form-control" placeholder="Password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>


</body>
</html>
<% if (typeof ajax == 'undefined') { %>
	<%- include layout_end.ejs %>
<% } %>
