<% if (typeof ajax == 'undefined') { %>
	<%- include layout_head.ejs %>
<% } %>
<style>

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
<script type="text/javascript">
         $(document).ready(function(){
            $("#email").change(function(){
		$('#emailvalid').attr('class','icon-spinner icon-spin');
	    var email=$('#email').val();
              $.ajax({
                    type:"post",
                    url:"/ajax/postdata",
                    data:{status:true,action:'register',type:'checkAvailability',email:email},
                        success:function(data){
                        if(data.availability==true){
                            $('#emailvalid').attr('class','icon-ok');
                        }
                        else{
                            $('#emailvalid').attr('class','icon-remove');
                        }
                    }
                 });
 
            });
            $("#user").change(function(){
             $('#uservalid').attr('class','icon-spinner icon-spin');
            var username=$("#user").val();
              $.ajax({
                    type:"post",
                    url:"/ajax/postdata",
                    data:{status:true,action:'register',type:'checkAvailability',user:username},
                        success:function(data){
                        if(data.availability==true){
                            $('#uservalid').attr('class','icon-ok');
                        }
                        else{
                            $('#uservalid').attr('class','icon-remove');
                        }
                    }
                 });
 
            });
 
         });
 
</script>
    <div class="container">

      <form class="form-signin" method="post" action="/register">
        <h2 class="form-signin-heading">Register</h2>
		<div id="messages"><% if (messages.length == 0) { %>
<div></div>
<% } else if (messages==true) { %>
	<div class="alert alert-success" data-dismiss='alert'><strong>Splendid!</strong> <br> <br>  Check your inbox or look at your spam if it is not in your inbox. </div>
<% } else { %>
	<div class="alert alert-danger" data-dismiss='alert'>
		<strong class="text-center">Oh SNAPPP!</strong>
		<% for (var i=0;i<messages.length;i++){ %>
			<br><br><%= messages[i] %>
		<% } %>
	</div>
<% } %>	
</div>	  
	<div class="input-group">
		<input type="text" id='user' name='user' class="form-control form-tick" placeholder="Username" value="<%- user -%>">
		<span class="input-group-addon"><i class="icon-pencil" id='uservalid'></i></span>
	</div>	
	<div class="input-group">
    		<input type="email" id='email' name='email' class="form-control" placeholder="Email address" value="<%- email -%>">
		<span class="input-group-addon"><i class="icon-pencil" id='emailvalid'></i></span>
 	</div>
        <input type="password" id='pass' name='pass' class="form-control" placeholder="Password" autofocus >
	<input type="password" id='confirm' name='confirm' class="form-control" placeholder="Confirm Password" autofocus >
	<br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </form>

    </div> 
<% if (typeof ajax == 'undefined') { %>
	<%- include layout_end.ejs %>
<% } %>
